.header {
    background-repeat: no-repeat;
    background-image: url("https://t4.ftcdn.net/jpg/05/38/47/09/360_F_538470909_eb9VHJB3kEZTAm1mM7v0Eqrkc2VeZZma.jpg");
    height: 120px;
    width: 300px;
    padding: 5rem;
    padding-top: 4rem;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    color: rgb(240, 248, 255);
}

img {
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    flex-wrap: wrap;
    width: 300px;
    height: 250px;
    margin: 0px 10px 20px 30px;
}

body {
    overflow-x: hidden;
    background-color: rgb(206, 186, 160);

}