


.header {
    background-repeat: no-repeat;
    background-image: url("https://cdn.vox-cdn.com/thumbor/TpSR9XxMkMsxNE5i25oTkWoBV0U=/0x0:2257x1320/1200x628/filters:focal(1129x660:1130x661)/cdn.vox-cdn.com/uploads/chorus_asset/file/6839749/pokemon.0.png");
    height: 120px;
    width: 50%;
    padding: 5rem;
    padding-top: 4rem;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;

}


body {
    background-color: rgb(240, 194, 215);
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h3{
    font-size: 30px;
}