.header {
    background-repeat: no-repeat;
    background-image: url("https://t4.ftcdn.net/jpg/05/38/47/09/360_F_538470909_eb9VHJB3kEZTAm1mM7v0Eqrkc2VeZZma.jpg");
    height: 120px;
    width: 300px;
    padding: 5rem;
    padding-top: 4rem;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    color: rgb(240, 248, 255);
}

img {
    height: 30rem;
    width: auto;
    border-radius: 10px;
}

body {
    overflow-x: hidden;
    background-color: rgb(206, 186, 160);
}